html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.weather-card {
  opacity: 0.9;
  width: 80%;
  max-width: 1200px; // Adjust this value as needed
padding: 1rem;
}
